# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Ignore Recording
temp_recording.wav
# Ignore git history cleanup tool
bfg-1.14.0.jar
